# even numbers

In [5]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;    
print(printEven(20));

90

# factors list of a given number ;  eg: 12---------12346

In [4]:
def factorsList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end= " ");
        i=i+1;
    return;
factorsList(12);

1 2 3 4 6

# List in python
### list can be written in python with square brackets and each item in the list is separated by comma operator

### list may contain---------int,char,float,and string

### eg;-
     list1=[1,2,3,4,5]
     list2=["a","b","c"]
     list3=['maths','science',128.265]

In [5]:
list1=[1,2,3,4,5];
#entire list
print(list1);
print(list1[0]);

[1, 2, 3, 4, 5]
1

# for loop

## syntx:

###   for  <variableName> in <seq>:
       <statements>

In [6]:
list2=["akhil","aravind"];
print(list2);
print(list2[1]);

['akhil', 'aravind']
aravind

In [10]:
# list example with particular index
list1=[1,2,32,4,5];
for x in list1:
    print(x,end= " ")
print();
print(list1[4]);
print(list1[0:4]);
print(list1[2:4]);
print(list1[:4]);
print(list1[:2]);

1 2 32 4 5
5
[1, 2, 32, 4]
[32, 4]
[1, 2, 32, 4]
[1, 2]

In [24]:
list2 = [1,2,3,4,5,6,7,8,9];
for x in list2:
    print(x,end= " ")
print();
print(list2[1:-1]);
print(list2[2:-2]);
print(list2[::2]);
print(list2[::4]);
print(list2[::5]);
print(list2[-2]);
print(list2[-1]);

1 2 3 4 5 6 7 8 9
[2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7]
[1, 3, 5, 7, 9]
[1, 5, 9]
[1, 6]
8
9

In [22]:
list2 = [1,2,3,4,5,6,7,8,9];
i=0;
while(i<len(list2)):
    print(list2[i],end= " ");
    i=i+1;
print();

1 2 3 4 5 6 7 8 9

# list with range functionm

In [30]:
lst1=["anil","adarsh","akhil",1];
print(lst1);

lst1[2]=15;  # update list
print(lst1);

del lst1[3];  # del list item
print(lst1);

lst1[1]="gitam";
print(lst1);

lst2=[1,2,3,4,5];
print(lst2);
print(lst1+lst2); # concatenation

['anil', 'adarsh', 'akhil', 1]
['anil', 'adarsh', 15, 1]
['anil', 'adarsh', 15]
['anil', 'gitam', 15]
[1, 2, 3, 4, 5]
['anil', 'gitam', 15, 1, 2, 3, 4, 5]

In [32]:
lst1=[1,2,3,4];
print(lst1);
del lst1[1];
print(lst1);
print(len(lst1));

[1, 2, 3, 4]
[1, 3, 4]
3

# list method:
##  1.append:-
### this method appends a passed object into the existing list

In [34]:
lst2=[1,2,3,4,5];
print(lst2);
lst2.append(15);
print(lst2);

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 15]

## 2.count
### this method returns the count of tyhe object how many times in the list

In [45]:
lst2=[1,2,3,4,5];
print(lst2);
lst2.append(15);
print(lst2);
lst2.append(21);
lst2.append(14);
lst2.append(36);
lst2.append([0.1,0.2]);
lst2.append([4]);
lst2[9[1]]=5;
print(lst2);
print(lst2.count(1));
print(lst2.count(3));
print(lst2.count(20));

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 15]

TypeError: 'int' object is not subscriptable

# list with range() function
### range(number):
### 0 to number

In [52]:
list1=["gitam","python",'raptor',1,5,93];
print(list1)
print(list1.index('raptor'))
print(list1.index(93))
list1.insert(2,2019)
print(list1)
print(len(list1))

['gitam', 'python', 'raptor', 1, 5, 93]
2
5
['gitam', 'python', 2019, 'raptor', 1, 5, 93]
7

## 3. remove

### removes the passed object from left side direction

In [55]:
list1=["gitam","python",'raptor',1,5,"python","python",93];
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python', 93]
['gitam', 'raptor', 1, 5, 'python', 'python', 93]
['gitam', 'raptor', 1, 5, 'python', 93]

## 4.reverse

### the reverse() reverses the list

In [56]:
list1=["gitam","python",'raptor',1,5,"python","python",93];
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)
list1.reverse()
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python', 93]
['gitam', 'raptor', 1, 5, 'python', 'python', 93]
['gitam', 'raptor', 1, 5, 'python', 93]
[93, 'python', 5, 1, 'raptor', 'gitam']

# data structures

#### searching the data
     ##### linear search
            --can be applied on sorted and unsorted list and unique list/duplicate list
     ##### binary search
#### sort the data
#### store the data

In [64]:
def linearSearch(a,tarItem):
    i=0;
    flag=0;
    for i in range(len(a)):
        if(a[i]==tarItem):
           flag=1;
           break;
    if(flag!=0):
           print("target item is found")
    else:
           print("target item is not found")
a=[1,2,25,98,41,62] 
linearSearch(a,6)
linearSearch(a,98)

target item is not found
target item is found

In [70]:
def linearSearchDuplicate(a,tarItem):
    i=0;
    flag=0;
    for i in range(len(a)):
        if(a[i]==tarItem):
            flag=flag+1;
    print(flag)
a=[1,2,25,98,41,62,98] 
linearSearchDuplicate(a,6)
linearSearchDuplicate(a,98)

0
2

#  input:list  ;output:indexes of target item
## eg--- 1,2,9,6,5,15,12,5-------linearExample(a,5)---1,4,7

In [5]:
def linearExample1(a,tarItem):
    flag=0;
    for i in range(len(a)):
        if(a[i]==tarItem):
            print(i,end= " ");
            flag=flag+1;
    print(flag)
a=[1,2,9,6,5,15,12,5]
linearExample1(a,5)

4 7 2

In [10]:
def linearExample2(a,tarItem):
   
    for i in range(len(a)):
        if(a[i]==tarItem):
            print("!"*(i+1),end= " ")
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

!! !!!!! !!!!!!!!

In [16]:
def linearExample2(a,tarItem):
   
    for i in range(len(a)):
        if(a[i]==tarItem):
            j=0
            while(j!=i):
                 print("$",end= " ")
                 j=j+1
            print(end=" ")
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

$  $ $ $ $  $ $ $ $ $ $ $

In [17]:
def linearExample2(a,tarItem):
   
    for i in range(len(a)):
        if(a[i]==tarItem):
            j=0
            while(j!=i):
                 print("@",end= " ")
                 j=j+1
            print(end=" ")
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

@  @ @ @ @  @ @ @ @ @ @ @

In [18]:
def linearExample2(a,tarItem):
   
    for i in range(len(a)):
        if(a[i]==tarItem):
            j=0
            while(j!=i):
                 print("#",end= " ")
                 j=j+1
            print(end=" ")
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

#  # # # #  # # # # # # #

# input:list  ;output:as given  ;eg:  perfectly multiple of 3 &5 15,12,2,9,45,18,36-------15+45--60

In [27]:
def linearExample3(a):
    sum=0
    for i in range(len(a)):
        if(a[i]%3==0 and a[i]%5==0):
            
            sum=sum+a[i];
    return(sum);
a=[15,12,2,9,45,18,36]
linearExample3(a)

60

# input:1 2 3 4 5  ;output:1 3 8 15 5

In [30]:
def linearExample4(a):
    for i in range(len(a)):
        if(i==len(a)-1 or i==0):
            print(a[i]);
        else:
            print(a[i-1]*a[i+1]);
a=[1,2,3,4,5];
linearExample4(a)

1
3
8
15
5

# input:1 6 9 4 16 19 22    ;output: 1 9 19 22

In [31]:
def linearExample5(a):
    for i in range(len(a)):
        if(i==len(a)-1 or i==0):
            print(a[i]);
        elif(a[i-1]%2==0 and a[i+1]%2==0):
            print(a[i]);
a=[1,6,9,4,16,19,22];
linearExample5(a);

1
9
19
22

# input: 14569 ; output:1,4,5,6,9

In [35]:
def numberToListConversion(n):
    lst=[]
    while(n!=0):
        r=n%10
        lst.append(r)
        n=n//10
    lst.reverse()    
    print(lst)    
n=int(input("enter the number"))    
numberToListConversion(n)

enter the number14569
[1, 4, 5, 6, 9]

# 1.input: [1,4,5,6,9]   ;output:14569
# 2.input:[1,4,5,6,9]    ;output:46  (even numbers)
# 3.input:14569           ;output:[4,6]

In [38]:
def listToNumberConversion(a):
    for i in range(len(a)):
        print(a[i],end= "");
a=[1,4,5,6,9];    
listToNumberConversion(a)

14569

In [39]:
def listToNumberConversion1(a):
    for i in range(len(a)):
        if(a[i]%2==0):
            print(a[i],end= "");
a=[1,4,5,6,9];    
listToNumberConversion1(a);

46

In [1]:
def numberToListConversion2(n):
    list=[]
    while(n!=0):
        r=n%10;
        if(r%2==0):
            list.append(r)
        n=n//10
    list.reverse()
   
    print(list);    
n=int(input("enter the number"))    
numberToListConversion2(n)

enter the number14569
[4, 6]

# 4. input: [1,2,3,4,5]  ; output:[1,4,3,16,5]
# 5. input:[15,19,12,16,4]    ;output:[15,34,31,28,20]

In [9]:
def listP1(a):
    list=[]
    for i in range(len(a)):
        if(a[i]%2==0):
            
            list.append(a[i]**2);
        else:
            list.append(a[i]);
    print(list);    
            
a=[1,2,3,4,5];
listP1(a)

[1, 4, 3, 16, 5]

In [10]:
def listM1(a):
    list=[]
    for i in range(len(a)):
        if(i==0):
            list.append(a[i]);
        else:
            list.append(a[i-1]+a[i]);
    print(list)        
a=[15,19,12,16,4];
listM1(a)

[15, 34, 31, 28, 20]